
<div class="detalle-container">
  <h2>{{ monstruo?.nombre }}</h2>
  <img
    [src]="monstruo?.imagen"
    [alt]="monstruo?.nombre"
    class="detalle-imagen"
  />
  <p><strong>Descripción:</strong> {{ monstruo?.descripcion }}</p>
  <p><strong>Partes rompibles:</strong> {{ monstruo?.partesRompibles }}</p>
  <p><strong>Familia:</strong> {{ monstruo?.familia }}</p>
  <div *ngIf="monstruo?.monstruoMaterialDto?.length">
    <h3>Materiales</h3>
    <ul>
      <li *ngFor="let mat of monstruo?.monstruoMaterialDto">
        <img [src]="mat.imagen" [alt]="mat.nombre" width="32" height="32" style="vertical-align: middle; margin-right: 8px;" />
        {{ mat.nombre }} - Probabilidad: {{ mat.probabilidad }}%
      </li>
    </ul>
 
  </div>
  <div *ngIf="!monstruo?.monstruoMaterialDto?.length">
    <em>No hay materiales para este monstruo.</em>
  </div>

  <button [routerLink]="['/monstruos']">Volver</button>
</div>
