
<div class="detalle-container">
  <h2>{{ monstruo?.nombre }}</h2>
  <img
    [src]="monstruo?.imagen"
    [alt]="monstruo?.nombre"
    class="detalle-imagen"
  />
  <p><strong>Descripción:</strong> {{ monstruo?.descripcion }}</p>
  <p><strong>Partes rompibles:</strong> {{ monstruo?.partesRompibles }}</p>
  <p><strong>Familia:</strong> {{ monstruo?.familia }}</p>
  <div *ngIf="monstruo?.monstruoMaterialDto?.length">
    <h3>Materiales</h3>
    <ul>
      <li *ngFor="let mat of monstruo?.monstruoMaterialDto">
        <img [src]="mat.imagen" [alt]="mat.nombre" width="32" height="32" style="vertical-align: middle; margin-right: 8px;" />
        {{ mat.nombre }} - Probabilidad: {{ mat.probabilidad }}%
      </li>
    </ul>

  </div>
  <div *ngIf="!monstruo?.monstruoMaterialDto?.length">
    <em>No hay materiales para este monstruo.</em>
  </div>
  <div class="simulador-combate">
    <button (click)="simularCombate()" [disabled]="simulando">Simular combate</button>

    <div *ngIf="simulando">Simulando...</div>

    <div *ngIf="materiales.length > 0">
      <h3>Materiales obtenidos:</h3>
      <ul>
        <li *ngFor="let material of materiales">
          <strong>{{ material.nombre }}</strong>
          <span *ngIf="material.imagen">
            <img [src]=" material.imagen"  [alt]="material.nombre" width="32">
          </span>

        </li>
      </ul>
    </div>

    <div *ngIf="error" class="text-danger">
      {{ error }}
    </div>
  </div>
  <button [routerLink]="['/monstruos']">Volver</button>
</div>
