

<!-- Listado de hábitats -->
<div class="habitats-grid">
  <div *ngFor="let habitat of habitats" class="habitat-card">
    <h3>{{ habitat.nombre }}</h3>
    <p>{{ habitat.descripcion  }}</p>
    <div class="seccion">
      <img src="{{ habitat.imagen }}" alt="{{ habitat.nombre }}" class="card-image">
    </div>
    <div class="acciones">
      <button (click)="verDetalles(habitat.idHabitat)">Ver detalles</button>
      <button (click)="eliminarHabitat(habitat.idHabitat)" class="delete">🗑 Eliminar</button>
    </div>
  </div>
</div>

<!-- Modal de detalles -->
<div *ngIf="habitatSeleccionado" class="modal-overlay">
  <div class="modal-content">
    <h2>{{ habitatSeleccionado.nombre }}</h2>
    <div class="seccion">
      <img src="{{habitatSeleccionado.imagen}}"/>
    </div>
    <div class="seccion">
      <h4>Descripción:</h4>
      <p>{{ habitatSeleccionado.descripcion }}</p>
    </div>

    <button (click)="habitatSeleccionado = null">Cerrar</button>
  </div>
</div>
