<footer class="footer">
  <div class="footer-content">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo de Monster Hunter">
    </div>
    <div class="links">
      <ul>
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/monstruos">Monstruos</a></li>
        <li><a routerLink="/habitats">Hábitats</a></li>
        <li><a routerLink="/familias">Familias</a></li>
      </ul>
    </div>
    <div class="social-media">
      <a href="https://twitter.com/monsterhunter" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/monsterhunter/" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/monsterhunter/" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
    <div class="copyright">
      &copy; {{ year }} Monster Hunter. Todos los derechos reservados.
    </div>
  </div>
</footer>
