
<header>
  <img src="https://www.monsterhunter.com/world/images/top/title.png" alt="Monster Hunter: World" />
</header>
<main>
  <section class="story">
    <p>
      Cada década, los dragones ancianos cruzan el mar hasta el continente conocido
      como el Nuevo Mundo, en un fenómeno conocido como la migración de los
      Ancianos. Para llegar hasta el fondo de este fenómeno misterioso, el gremio ha
      creado la comisión de investigación y la ha enviado en grandes flotas hacia el
      Nuevo Mundo. Ha llegado el momento de que la 5.ª flota zarpe siguiendo a Zorah
      Magdaros, un dragón anciano de proporciones gigantescas. En dicha flota, un
      cazador está a punto de embarcarse en el viaje más grande que jamás haya
      podido imaginar.    </p>
  </section>
  <iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/Ro6r15wzp2o"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
>
</iframe>

  <section class="gameplay">
    <p>
      Combate contra monstruos gigantescos en escenarios épicos. Tu tarea es aceptar
      misiones de caza de monstruos en una gran variedad de hábitats. Abátelos y
      recibe materiales que podrás utilizar para crear armas y armaduras más
      poderosas con las que enfrentarte a monstruos aún más peligrosos. Monster
      Hunter: World es la última entrega de la serie. En ella podrás disfrutar de la
      mejor experiencia de juego, utilizando todos los recursos a tu alcance para
      acechar monstruos en un nuevo mundo rebosante de emociones y sorpresas.    </p>
  </section>
</main>
