<form (ngSubmit)="crearMonstruoHabitat()" #mhForm="ngForm" class="mh-form">
  <!-- Select de monstruos -->
  <div class="form-group">
    <label for="idMonstruo">Monstruo</label>
    <select
      id="idMonstruo"
      name="idMonstruo"
      [(ngModel)]="monstruoHabitat.idMonstruo"
      required
      class="form-control"
    >
      <option [ngValue]="null">Selecciona un monstruo</option>
      <option *ngFor="let m of monstruos" [ngValue]="m.id">{{ m.nombre }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="idHabitat">Hábitat</label>
    <select
      id="idHabitat"
      name="idHabitat"
      [(ngModel)]="monstruoHabitat.idHabitat"
      required
      class="form-control"
    >
      <option [ngValue]="null">Selecciona un hábitat</option>
      <option *ngFor="let h of habitats" [ngValue]="h.id">{{ h.nombre }}</option>
    </select>
  </div>
  <button type="submit" [disabled]="mhForm.invalid" class="btn btn-primary">
    Asociar Monstruo y Hábitat
  </button>
</form>



<h3>Actualizar Monstruo-Hábitat</h3>
<form (ngSubmit)="actualizarMonstruoHabitat()">
  <input [(ngModel)]="monstruoHabitat.id" name="id" placeholder="ID" required  class="form-control">

  <div class="form-group">
    <label for="idMonstruo">Monstruo</label>
    <select
      id="idMonstruo"
      name="idMonstruo"
      [(ngModel)]="monstruoHabitat.idMonstruo"
      required
      class="form-control"
    >
      <option [ngValue]="null">Selecciona un monstruo</option>
      <option *ngFor="let m of monstruos" [ngValue]="m.id">{{ m.nombre }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="idHabitat">Hábitat</label>
    <select
      id="idHabitat"
      name="idHabitat"
      [(ngModel)]="monstruoHabitat.idHabitat"
      required
      class="form-control"
    >
      <option [ngValue]="null">Selecciona un hábitat</option>
      <option *ngFor="let h of habitats" [ngValue]="h.id">{{ h.nombre }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

<h3>Eliminar Monstruo-Hábitat</h3>
<form (ngSubmit)="eliminarMonstruoHabitat()">
  <input [(ngModel)]="monstruoHabitat.id" name="id" placeholder="ID" required  class="form-control">
  <button type="submit" class="btn btn-primary">Eliminar</button>
</form>
