<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item" [ngClass]="{'active': estaActivo('/')}">
      <a (click)="navegar('/inicio')" class="nav-link">🏠 Inicio</a>
    </li>
    <li class="nav-item" [ngClass]="{'active': estaActivo('/monstruos')}">
      <a (click)="navegar('/monstruos')" class="nav-link">👾 Monstruos</a>
    </li>
    <li class="nav-item" [ngClass]="{'active': estaActivo('/habitats')}">
      <a (click)="navegar('/habitats')" class="nav-link">🌿 Hábitats</a>
    </li>
    <li class="nav-item" [ngClass]="{'active': estaActivo('/familias')}">
      <a (click)="navegar('/familias')" class="nav-link">👨👩👦 Familias</a>
    </li>
      <a (click)="navegar('/login')" class="nav-link">Login</a> |
      <a (click)="navegar('/register')" class="nav-link">Registro</a> |
      <a (click)="navegar('/profile')" class="nav-link">Perfil</a>
  
    <button (click)="logout()" class="btn btn-outline-danger">
      <i class="fa fa-sign-out"></i> Logout
    </button>
  </ul>
</nav>
