<!-- src/app/components/habitat-detalle/habitat-detalle.component.html -->
<div class="habitat-container">
  <div *ngIf="cargando" class="loading">Cargando...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="habitat && !cargando && !error">
    <h2>{{ habitat.nombre }}</h2>
    <img [src]="habitat.imagen" [alt]="habitat.nombre" class="habitat-image">
    <p>{{ habitat.descripcion }}</p>
    <img [src]="habitat.mapa" [alt]="habitat.nombre" class="habitat-image">


    <button [routerLink]="['/habitats']" class="back-button">Volver a hábitats</button>
  </div>
</div>
